@font-face {
  font-family: "Satisfaction";
  src: url(../assets/fonts/Satisfaction.ttf);
}

@font-face {
  font-family: "BALLAD";
  src: url(../assets/fonts/BALLAD.ttf);
}

@font-face {
  font-family: "Germany Sans";
  src: url(../assets/fonts/GermanySans.ttf);
}

@font-face {
  font-family: "Briannes hand";
  src: url(../assets/fonts/BriannesHand.ttf);
}

@font-face {
  font-family: "DM Sans";
  src: url(../assets/fonts/DMSans.ttf);
}

@font-face {
  font-family: "Bonita";
  src: url(../assets/fonts/Bonita.ttf);
}

@font-face {
  font-family: "IM FELL";
  src: url(../assets/fonts/IMFell.ttf);
}

@font-face {
  font-family: "Heading Pro";
  src: url(../assets/fonts/HeadingPro.ttf);
}

@font-face {
  font-family: "Zabal DEMO";
  src: url(../assets/fonts/ZabalDEMO.otf);
}

@font-face {
  font-family: "Engravers Old English";
  src: url(../assets/fonts/EngraversOldEnglish.otf);
}

body {
  min-height: 100%;
  background-image: url(../assets/img/lover.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

#background {
  position: absolute;
  background-size: contain;
  left: 0px;
  min-height: 100%;
  min-width: 100%;
  top: 0px;
  z-index: -1;
  filter: blur(5px);
}


body {
  font-family: "DM Sans";
  /*background: #F2F2F2;*/
  color: #000;
  font-weight: 100;
  margin: 0;
  min-height: 100%;
}

#intro-div {
  /*margin-top: 30px;*/
  margin-top: 170px;
  margin-left: 100px;
  margin-bottom: 5px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 30px;
}

h1 {
  font-family: "BALLAD";
  font-size: 58px;
  text-shadow: 1px 1px 10px rgba(23, 10, 6, 0.254);
  font-weight: 100;
  color: rgba(0, 0, 0, 0.767);
  letter-spacing: 1px;
}

h2 {
  font-family: "Zabal DEMO";
  color: rgb(69, 66, 66);
  font-size: 18px;
  margin-top: 50px;
  font-weight: 300;
  padding-right: 100px;
  padding-left: 100px;
}

#btn-div {
  /*margin-top: 30px;*/
  margin-top: 170px;
  margin-right: 100px;
  margin-bottom: 30px;
  padding-top: 50px;
  padding-right: 30px;
}

.home-btn {
  padding: 0.9rem 1.7rem;
  border-radius: 10px;
  font-weight: 400;
  letter-spacing: 3px;
  margin: 1rem;
  font-size: 18px;
  border: none;
  cursor: pointer;
  box-shadow: 0 5px 30px 0px rgba(40, 39, 38, 0.426);
  text-shadow: -2px 1px 3px rgba(61, 57, 56, 0.491);
}

#nav {
  background-color: rgba(249, 246, 246, 0.267);
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-bottom: 15px;
}

.nav-name {
  font-size: 18px;
  margin-right: 100px;
  padding-top: 8px;
  float: left;
}

.nav-btn {
  padding: 0.5rem 0.9rem;
  border-radius: 10px;
  font-weight: 400;
  letter-spacing: 3px;
  margin-left: 8px;
  font-size: 12px;
  border: none;
  cursor: pointer;
  box-shadow: 0 5px 30px 0px rgba(40, 39, 38, 0.426);
  text-shadow: -2px 1px 3px rgba(61, 57, 56, 0.491);
}

#ts-btn {
  background: #00a3ad;
  color: #fff;
  font-family: "Satisfaction";
}

#fearless-btn {
  background: #744f2d;
  color: #eccc8c;
  font-family: "Germany Sans";
}

#speaknow-btn {
  background: #52316b;
  color: #fff;
  font-family: "Satisfaction";
}

#red-btn {
  background: #d4ac9c;
  color: #94242c;
  font-family: "Heading Pro";
}

#a1989-btn {
  background: #d7d8ce;
  color: #4d5266;
  font-family: "Briannes hand";
}

#rep-btn {
  background: rgb(226, 224, 224);
  color: #000;
  font-family: "Engravers Old English";
}

#lover-btn {
  background: #ebbad1;
  color: #b2426f;
  font-family: "Bonita";
}

#folklore-btn {
  background: #bababa;
  color: #2e2e2e;
  font-family: "IM FELL";
  font-style: italic;
}

#evermore-btn {
  background: #334941;
  color: #d2936c;
  font-family: "IM FELL";
  font-style: italic;
}

#stats-div {
  padding-right: 100px;
}

#table-div {
  padding-left: 100px;
}

.title {
  font-size: 40px;
  text-align: center;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.542);
  margin-top: 20px;
  margin-bottom: 40px;
}

table {
  border-radius: 10px;
  background: #ffffffbc;
  box-shadow: 0 5px 30px 0px rgba(40, 39, 38, 0.246);
}

th,
td {
  border-bottom: 1px solid #7b767674;
  line-height: 18px;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.394);
}

th {
  padding-right: 15px;
  font-weight: bold;
}

td {
  padding: 25px 25px;
}

tbody > tr:last-child > td {
  border-bottom: 0;
}

.alert {
  position: relative;
  padding: 15px;
}

p {
  align-items: center;
  justify-content: center;
}

span {
  cursor: pointer;
}

footer {
  margin-top: 30px;
  padding-top: 20px;
  padding-bottom: 40px;
  align-items: center;
  vertical-align: middle;
  font-size: 16px;
  top: 80%;
}

a:visited {
  text-decoration: none;
  color: #000;
}